:root {
  --clr-primary: #883ae1;
  --clr-accent: #20293a;
  --clr-neutral-100: #e6d6fc;
  --clr-neutral-200: #e5eaf0;
  --clr-neutral-300: #fafaf9;
  --clr-neutral-400: #ffffff;
  --clr-neutral-500: #6c727f;

  --ff-serif: "Sora", sans-serif;

  --fs-title: 1.125rem;
  --fs-body: 0.875rem;
  --fs-small-text: 0.75rem;
  --fs-badge-text: 0.625rem;

  --flow-spacing: 1rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--ff-serif);
  font-size: var(--fs-body);
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-500);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.flow > * + * {
  margin-top: var(--flow-spacing, 1rem);
}

.card {
  max-width: 23rem;
  border-radius: 12px;
  padding: 1rem 0;
}

.px-normal {
  padding: 0 1rem;
}

.card--light {
  background-color: var(--clr-neutral-400);
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.card__visual-img {
  border-radius: 10px;
  object-fit: cover;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  align-items: center;
  font-size: var(--fs-badge-text);
  font-weight: 700;
}

.badge {
  display: inline-block;
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary);
  padding: 0.18rem 0.93rem;
  border-radius: 15px;
}

.card__heading {
  font-size: 1.125rem;
  color: #20293a;
}

.card__description {
  --flow-spacing: 0.375rem;
}

.card__footer {
  --flow-spacing: 1.25rem;
  border-top: 2px solid #e5eaf0;
  padding-top: 1.25rem;
}
